APP_ROLES=
LOG_LEVEL=
HTTP_ADDR=
APP_START_TIMEOUT=
APP_STOP_TIMEOUT=

POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
WALLET_MIGRATOR_PASSWORD=
WALLET_APP_PASSWORD=
DB_POOL_MAX_CONNS=

KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_REALM=
KEYCLOAK_HOSTNAME=
KEYCLOAK_LOG_LEVEL=
OIDC_AUDIENCE=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

FAULT_ROLES=
FAULT_INJECT=
