.env
.env.*
!.env.example

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.prof
bin/
dist/
tmp/

coverage*
*.cover

vendor/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
desktop.ini

*.log

deploy/postman/*.postman_environment.json
!deploy/postman/local.postman_environment.json
